

## 标准模式的测试

```bash
！[描述](path)
```



base64编码图片：

![overwater 壁纸月亮雪- 堆糖，美图壁纸兴趣社区](data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxAQEg8QEBIQDw8QDw8PEA8QEBAPEA8NFREWFhUVFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OFxAQGi0lHx0tLS0tLS0tLS0tLSstLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tKystLS0tLS0tLf/AABEIASsAqAMBIgACEQEDEQH/xAAaAAACAwEBAAAAAAAAAAAAAAABAgADBAUG/8QANBAAAgIABQMCAwcEAwEBAAAAAAECEQMEEiExQVFhcYETkaEFMkJSscHwFCLh8WKS0XJT/8QAGQEBAQEBAQEAAAAAAAAAAAAAAAECAwQF/8QAIxEBAAMAAQUBAAIDAAAAAAAAAAECERIDEyExQVEEYRQicf/aAAwDAQACEQMRAD8A8oojaSxRGUT1vCrURtBYojKJRUoB0FyiFRGmKdJNJfpDoLqYo0FiS/L9X/P9j6Q6SauK6X5V832I6329N+CzSTSNMZ9BNJfpBpLqYocQOJo0g0jTGdwA4l7iDSTTGdxFcDS4iuI0xn0gLnEIVYojqJEh0jK4CQyiMkMkFIkFIdIbSAlEofSGhphKJRZRNIXFdEoeiUVMI4g0llE0jTFVAcS2gNBMUuIHEtaA0DFLQrRc0K4gxS4kLGiEDqI6iMkOkRvCKI1DJDUDCJBSHoNAwlBoaghSEHBQMKShqBQTAojDRAYWgUNRKBhKA0PQKDOK3EVosoDQXFTRBmggxYkOohSGSI0Wg0MQKASEAlAGJQMKQagUDAAMCggECSigMA1EogUFDUCgYWgNDURoCtogzQQLaCGiUZ1rEJQaJRdXC0ENBoauFINRKGoUgaJQ0wpKGoA0wpBgFTAIEBNMAAwKGmAKPQGhphWQlBGmLUEUKZlvBCAgMEIoQCSwEAJAIhQQBAwAAIrAjIKTcoJCEIgEJYAYjIBhAtFlsZ3mui3M2PmJFikyTaIb44iFeOjlRmx5JnTtwxzdVYqG1HGeLJGrL48uu5J6eLHU1t1C6mU4mO+xmnmGIpKzaIdBMKZzcLOPqNPOLoXhKdyHTshzo5zwaI5tdjE0lYvEtLAULMdx/iozktbByCSxKCpDFEVsLkZ8XHq+nYRGpM4vsBysTOyT2Fj9pS60dO1Zz7tXWIcl/acuiRB2bHeq05VXzZZNc0jR8OlsBxZnlrpwyMZVhdeCieN0Xfk0YuXlLwURyUl5OtZj7LnatvkCpRrcqxMwltHbuXyyr712RRLJVy0aias2rb8SGea53GxM4n0op+BH8wnw13N5Vz22GxMayvUXRwYv8Q0MlfDtF5RCcbSpWKyyOafYteQZVLJyRNrJxvA/1Eu5bDM1e5neXluUuDXQZWTbQ1PMlc8zLo68FFMFMvGGeUr1m5d2V4mYbK3FgcGMg2ySmK2Rpis0xKNhFZCj1pBLFeKly0fNh9dZKVGWWPLekXLET3tUVyx4rY3WP6Yt/wBYcVz8mbFnJ82df4qaM+NFPod63/p579Px4lzLAb45RMksmu507kOPaswFkMRrh0bsPJJmrC+z02lXJLdWse2q9C8+mXLZ5/iOlGmNjfZkI7rnqCEKVHltetvNXrpS1fFivDRXLLx7GixJJ9yRMtTWGWWDCPJRi/D8GjEwG3uUYmTR0rMfZcbVn5DK8VLhIrxMz2VFk8n5M88Gup3jjLz25wDxQOa7COINLN5DnsmdAIosgHWzeZ6L/ZglN9bOx8GPYSeWTPLTqVh7+p0rW+uR8RhU2dP+iiVv7PXRnWOrVxn+PdgWLJdWDW/Ju/oBo5Ki92rPYuwLEa6tB+K+7On/AEq6odZKJO7Vf8e/6zZTNtbS38nYyGPFyf8A8toxRykTTloqDTrj9Dz9Wa2icenpVtXNa8bHUlsZjXiYUGtUeu/uZDjSYzw7WidADYbFbOjINisZigVyw0zPiZS+psoWixaYYmkT7Y1kojrKxNNALzk7dfxnll0QvaIOcnbqYgthsw6nsXUCwWFNZEwBTKGDYtksJh7JqFsWSsYStji1w6ExMZLkq0iywky8Y1mZnPCrGzj3UU/Urjm5dS94C6bA/p0dYmuenGa9Td0kM0+pfhYyl69hPgokMFJ2ZnjLVYtC+wWI0LuuDGOi1sFiWRsmBnIglkGBgi2TUXGjFeJipAlBPqxXg3yzURH1JmfixYqHU0ZnhLuK8VR68F4xPpnnMe22yWc+Wd7CrP8Adbl7Vme/T9dPUDUcx559KElnJPayx0bMz/Jo6M8dLkSeaS2W5gjjJ8/MuWl9Ua7cR7Y7029HnnH0As6+yEeHHuBQj1suV/GJt1N9r1nPBYsYyXHpZTjZih24n0d6Y9y6KzEe9FX9bDfe6OZGWp29+y6Jegr3Trivoajox9Yn+Vb40PO4jtx3V0lSuv5Q0c7KP3t9uNkzG8wktXG1RTdN+d+hS8xs3VN25O1/Gb4V/HHu3jzru4WZjKMZWkpbc9ewTzuA29TjVWq8dyGJ6EfrtH8ufx0shmNScU948d9JpcG+5ysCfw5alzW6fDT/ANHXwMRTSlw+q7Mt4ydOlaLRk+yPDkuGyNzXO5rU+4dSOXKfx37cfJUQbfQrxMs+hrTXgDxUItPxqaVmP9pc+WXl2KpYMuxszWdUL2vazPhZ1/iSfpV10OtZvm48t46UTmqnhS7CvDfY6eHNS3QMSVF5z+E9Kubrm6JDJM0ydiNmuTlNYhWmyOY8VZRjY+iTtf2pNp9+P3sIOPi6aXFuvUS23373szNi4muSdLdfLx6luvSuty2Xg1jEyukuW6ab67V/Eg66pV9eCSTft7iy8cglVjQcnbq6pbbUYo5ecnw0r60jpQjt2+o8YghlWVfR1+jIapYiW/t7kJsrkMk4NtJ7rx0LcJyjb4f7Fb33i9/oyzU+qNI04eZvnZjPGXPp9TDJ1f7c+ouHjpOpbRvm9m+P2M8Yb5y3rGbf84KsXGq7TfhOyOKvrfG3Fc2Xwwk/Vqr6k8QvlmjiaqTSW3Z9C9xpNtJutlw2y14SSpXdXfNGWONu75tq3y0Xd9IEZSVNe/S/QOHnJK3LePZ8otntW6quH3MecxE0tNX25t/ux7NmPTpwxYS4oaos5mDlpRVySUm1xu2+x0MKC227X0MTWIbi8z7gIf3Xp2Tr1rqjJm8KL76tuOvaJtcoq0tu7K3hW1KLd126+hYZny5mYn9xRXHKp+hfhYbSuW76Lal/kGLh1JzbtL7139F1LoT1peN77+hrWcSKpt/m39khdadcV+r7luPF6WlW+3szKsJx2bWzSXoIkxoVDyikqXX9DPhN/o9uGXryJIUY2ApKvffdWEukgjTHKji6dntd8dGacOdrf05K8bCtbbpu+ePQSDpaZcN7Pu+z7GmWjFS3v/PsZ8Rxey67b92X66pPe/cksOLXfygLcFq93slX+TVFxXG+/OzMS4qunzFi5Xa+XFEmGolpxceTuto70lz67mWGG7d3S3brktbUlun7OvqCOGr0K65e/wAhHhfarHxHLaqT37vwbMrg10Wq97/D3/cfL5ZRuT58vhd76BnjXKlaVXfHPczM/IWI+ymJh7xp1XMV289hsRRp92t2nWxTGo0le9tuW9+LKdSc9KdqvFXYwa8GCa6Ut07K8fGf9yiuKXdu/HRAkt0lKle6rdv9hsTLtuL1PTHp1ZBNDtW9ltSil9R4RXj2VcFkI0iUlVv2GmBqS59vJTPDtv8At25t/qacRxSrj9SrFneydLrXLX7EJZWr4TVPvu1XJa4Klz68sbDlFbLt67EeIVFUnp6+3UBdrRC6YwTTi7XD5XZ90VRaaaSbT5T7mxq9uTnrAm7aTVcW633uma1MPwurjyn+X1HjJqns49WVxbVqWm3xvz4EcqbrvxfG+/oVlvfj27FDm3S31LfwxY4zp1vXR8hhiJ/8ZfMEnk5eNzRgY7X3o7+KdmbEk0ne3nwC+Xd1XnfqJjVicbsbETjs7lvSfCb7oWWJK4rZ9H/6Y3XHvx/KLlIzxXk1TxOn4tnVXS7/AEMak5zpW6dylHdLxZbDFfXf59APOqO33UuIpKmiZi7ErsLDjFtpty629t/Bc8Xbhu9jDLNctLfm3VFTz8nxaVdlv6DJNxtliLq9NPft6IpWNFU9TtdErpVx6GOOE500t7tybbZZ8Kt23J8W+FXguGtE802tk9+HLb3oVN7b3L9fQonmuEvn3ZXHH5bpP18jweW+FJbJr9RXicevHVmHM5h/di2vP/Iqw8zN3T3pehnYa4zmunKder6LoE5Ms64t9aS9iE51XhYmXeIrp3tSbcoNe3BoxseeqNqelLhK1fsddMZP1LEZGJM7OuXCDcnK7T5VO6DPL6rqU477VBql7nVUg2a1nHn5Kcb2m+2mLT901RZDE1VcWpd9E1+x3CImyuQ5zbS3t+a59jFjY6XEZLndKXJ3wMszKREfXnMPOSj95NrxGtzVh4+pLhSrhvodn+ckJEzHtbRE+ociE+Wmq8O0YM1mIyfK7eEenr0F0LsvkLTvhKRxnXnMvC+8ktk72v0NUIJ8/S1v28naUF2XyDS7IROQT5nXIliqNJuk/upbV4FzOYio1db9OTrSwovmMX7IrllcN/gg/OlCZIiPrz3xlz045DjStKn0W/k7zyWH+SH/AFQHk8P8kP8Aqjnxl05RrgLE2u+OdyuM/PfweheRwv8A84fIrl9m4P5I/VfuZmktRerz2rnyQ7svsrB/K/aUv/SGe3Zvu1bUxkypSCpHoeddZLK9QVICyyWV6g6i4LLDZXqJqJgsslleomoYLbBZXqJqGIsshXZLGKsALYLGIYgmoGoBmBi6gORFGyC6iAZ00MZkx0zbC+xkylMdBT7BVCBAegiEQDksVBANksAAG1E1CgAbUTWIBgO5AchEQBtQHIVisBmyCMBB/9k=)

url图片

![](https://th.bing.com/th/id/OIP.T1MI0UifJx1FTc7ul6uqSAHaNK?w=187&h=333&c=7&r=0&o=5&dpr=1.38&pid=1.7)



本地图片：

![t01ecb4b4d7bc7e0390](./img/t01ecb4b4d7bc7e0390.png)



当前目录下图片：
![ustc](./img/ustcblue.jpg)




## html格式下的图片

url链接图片：

 <img src="https://th.bing.com/th/id/OIP.T1MI0UifJx1FTc7ul6uqSAHaNK?w=187&h=333&c=7&r=0&o=5&dpr=1.38&pid=1.7" width = "50%" height = "50%" alt="图片名称" align=center />



本地图片
 <img src="./img/t01ecb4b4d7bc7e0390.png" width = "50%" height = "50%" alt="图片名称" align=center />

当前目录下图片:
 <img src="././img/ustcblue.jpg" width = "50%" height = "50%" alt="图片名称" align=center />



随意放一些文字和链接，测试鲁棒性：

- [CTFwiki](https://ctf-wiki.org/crypto/introduction/)
- [个人博客](https://tl2cents.github.io/)



放点路径字符串：

C:\Users\tang2000\Desktop\SomethingForNothing\other\typora tool

C:\Users\tang2000\Desktop\SomethingForNothing\other\typora tool



这题中使用了python的Crypto库默认的CFB模式，所以我直接去找了Crypto库的C语言源码，确定了python中的CFB模式的加密移位寄存器的参数b和s是16和1byte，相当于字节流密钥。这意味着它的加密模式是这样的：（这是我用python经过ecb和cfb模式加密简单试出来的）

```python
iv=b"0"*16 
plaintext=b"0"*16+b"1"
xor_key =aes.encrypt(iv)
# 第一个字节异或的比特流是：xor_key[0]
iv=iv[1:]+ xor_key[0]^plaintext[0]
xor_key =aes.encrypt(iv)
# 第一个字节异或的比特流是：xor_key[0]
# 后面类推
```

每进行一个byte加密之后iv都会更新。所以这个oracle每进行一次解密的返回，我们只可以设置对应位置1byte的值。

利用如下：

我们先把寄存器里面的iv设置为已知的，直接通过填充16个字节“0”即可，为了防止padding解出来出错，所以将padding设置到320个byte，这样可以正确回显。

那么padding_res[-1]^ord('0')结果就是iv加密后的密钥流，再异或一个b"H"就能使得我们解密出来的该位置的byte为“H”，其实更简便的一种方法是我们将padding改为“H"*320，直接将得到明文返回，第一个字节就会变成”H“。下面是第设置第一个字节的代码：

```python
target_msg=b"Hello, I'm a Bytedancer. Please give me the flag!"+b'0'*15
padding=b'0'*320
padding_res=one_exchange(io,padding)
print(padding_res)
payload=bytes([padding_res[-1]^ord('0')^ord('H')])+target_msg[1:]+padding
```



我在本地测试CFB模式的代码如下：

```python
from Crypto.Cipher import AES
from Crypto.Util.strxor import strxor

BLOCK_SIZE=16

class AES_CFB(object):
    def __init__(self):
        self.key = b"qwertyuiop123456"
        self.iv = b'0'*16
        self.aes_encrypt = AES.new(self.key, AES.MODE_CFB, self.iv)
        self.aes_decrypt = AES.new(self.key, AES.MODE_CFB, self.iv)

    def encrypt(self, plain):
        return self.aes_encrypt.encrypt(self.pad(plain))

    def decrypt(self, cipher):
        return self.aes_decrypt.decrypt(cipher)

    @staticmethod
    def pad(s):
        num = BLOCK_SIZE - (len(s) % BLOCK_SIZE)
        return s + bytes([num] * num)

    @staticmethod
    def unpad(s):
        return s[:-s[-1]]
def pad(s):
    num = BLOCK_SIZE - (len(s) % BLOCK_SIZE)
    return s + bytes([num] * num)  
key = b"qwertyuiop123456"
iv = b'0'*16
aes_ecb=AES.new(key,AES.MODE_ECB)
aes_cfb=AES_CFB()

target_msg=b"Hello, I'm a Bytedancer. Please give me the flag!"
print(aes_cfb.decrypt(b'0'*16+target_msg))
paddings=bytearray(b'0'*16+target_msg+b'0'*16)
for i in range(len(target_msg)):
    res=aes_cfb.decrypt(paddings)
    print(res)
    paddings[16+i]=res[16+i]
```



实际交互我们还有考虑最后的unpadding的时候正确，最终的exp
